/* .button_landing_page {
  border-radius: 50px !important;
  height: 15px !important;
  background-color: #18415d !important;
  border-color: #18415d !important;
  color: white !important;
  width: 100px !important;
  transition: background-position 0.7s;
  background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
}
.button_landing_page:hover {
  background-color: white;
  color: #06142e !important;
  background-position: 0 100%;
  border-color: #ffffff;
  transition: 0.3s;
} */
.button_landing_page {
  background-color: #18415d;
  border-radius: 0 !important;
  height: 20px;
  border-color: #18415d;
  color: rgb(232, 229, 223);
  background-image: linear-gradient(
    to top,
    rgb(232, 229, 223) 50%,
    transparent 50%
  );
  background-size: 100% 200%;
  transition: background-position 0.7s;
  width: 100px;
}
.button_landing_page:hover {
  border-radius: 0;
  background-color: #fff !important;
  color: #18415d !important;
  background-position: 0 100%;
  border-color: #18415d;
  transition: 0.5s;
}
.button_prd_landing_page {
  border-radius: 0 !important;
}
.button_prd_landing_page:hover {
  transition: 0.5s;
}

.container2 {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
