body {
  overflow-x: hidden;
}
/*************A REVENIR****************/
/* button:hover {
  transition: 0.3s;
  background-color: #ffffff !important;
} */
.columnsToHover {
  background-color: #dae2ed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  transition: all 0.9s;
}
.columnsToHover:hover {
  color: white !important;
  background-position: 0 100%;
  transition: all 0.8s;
}

.columnsToHover:hover h1 {
  color: white !important;
}

.columnsToHover:hover button {
  border-color: white !important;
  color: white;
}

.h1_header {
  color: #9a220d;
}

#columnSubOneToHover:hover {
  background-color: #06142e !important;
}

#columnSubTwoToHover:hover {
  background-color: #a36f9f !important;
}
#columnSubThreeToHover:hover {
  background-color: #473e66 !important;
}
.image {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.style_button {
  border-radius: 50px;
  border-color: #212529;
  color: #212529;
  background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
  background-size: 100% 200%;
  transition: background-position 0.7s;
}
.style_button:hover {
  background-color: white;
  color: #06142e !important;
  background-position: 0 100%;
  border-color: #ffffff;
  transition: 0.3s;
}
.style_category_header {
  background-color: #08090a;
  color: #dae2ed;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.style_button_product {
  border-radius: 50px;
  border-color: #212529;
  color: #212529;
  background-image: linear-gradient(to top, #212529 50%, transparent 50%);
  background-size: 100% 200%;
  transition: background-position 0.7s;
}
.style_button_product:hover {
  background-color: #212529;
  color: #fff !important;
  background-position: 0 100%;
  border-color: #212529;
  transition: 0.3s;
  background-color: white !important;
}
